Мы создаем лендинг пейдж для компании в сфере санитано-технических услуг. Направленный на малый и средний оффлайн бизнесс, кафе рестораны, гостиницы, бары, производственные предприятия.
Когда пишешь код будь на 100% уверен, что ты не ломаешь ничего существующего. 